.inputMain{
display: flex;
flex-direction: row;
justify-content: space-around;
}
.input{
display: flex;
flex-direction: column;
justify-content: space-around;
align-items: center;
margin: 10px;
height: 50vh;
}
.button{
  width: 50%;
}
