.mainBlock{
  height: 90vh;
  width: 98vw;
display: flex;
flex-direction: row;
justify-content: space-around;
border: 1px solid black;
margin: 0 1vw;
}
.peopleBlock{
  border: 1px solid black;
  width: 48%;
}
.groupsBlock{
  border: 1px solid black;
  width: 48%;
}
.headBlock{
  width: 96%;
  margin: 2% 2% 0 2%;
  height: 100px;
  border: 1px solid black;
color: blanchedalmond;
}
