.mainBlock{
  height: 90vh;
  width: 98vw;
display: flex;
flex-direction: row;
justify-content: space-around;
border: 1px solid black;
margin: 0 1vw;
}
.peopleBlock{
  border: 1px solid black;
  width: 48%;
}
.groupsBlock{
  border: 1px solid black;
  width: 48%;
}
.headBlock{
  width: 96%;
  margin: 2% 2% 0 2%;
  height: 100px;
  border: 1px solid black;
color: blanchedalmond;
}
.people{
  display: flex;
  flex-direction: row;
  margin: 10px;
  }
.peopleNames{
  width: 60%;
}
.groupMain{
  display: flex;
  flex-direction: row;
  border: 1px solid black;
   margin: 5px;
   border-radius: 20px;
   padding: 10px;
}
.groupsNames{
  width: 60%;
  display: flex;
  flex-direction: row;
}
.groupsFirstColumn{
  width: 35%;
}
.buttonBlock{
  display: flex;
  flex-direction: column;
}
